<% if Current.user.present? %>
  <nav class="navbar navbar-glass navbar-top navbar-expand-lg">
    <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
    <div class="navbar-collapse scrollbar collapse" id="navbarStandard">
      <ul class="navbar-nav">
        <% menu_items.each do |menu_link|  %>
          <li class="nav-item">
            <%= link_to menu_link[:label], menu_link[:path], class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
    <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
      <li class="nav-item dropdown">
        <a class="nav-link pe-0 ps-2" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-xl">
              <i class="far fa-user-circle fs-6"></i>
            </div>
            <div class="ps-1"><%= Current.user.name %></div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-caret dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser" data-bs-popper="static">
          <div class="bg-white dark__bg-1000 rounded-2 py-2">
            <%= link_to "Sair", session_path(Current.user), data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
        </div>
      </li>
    </ul>
  </nav>
<% end %>
